/* Slide from right animation */

.slide{
    /* margin:10px; */
    padding: 6rem 100px 20px 10px;
    position: absolute;
    right: -50rem;
    width: fit-content;
    max-width: 65rem;
    max-height: 100vh;
    width: fit-content;
    overflow: scroll;
    height: fit-content;
    background: none;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 0.1s;
    animation: slide 0.5s forwards;
    animation-delay: 0.2s;
    overflow-wrap: break-word;

}
.mobile{
    /* margin:10px; */
    padding: 30px;

}
.fade-out{
    opacity: 0;
    transition: opacity .2s;
}

.slide::-webkit-scrollbar {
    display: none;
}

@-webkit-keyframes slide {
    100% { right: 0; }
}

@keyframes slide {
    100% { right: 0; }
}

a{
    text-decoration: none;
    color: rgb(128, 78, 78);
}

.content{
    max-width: 500px;
    overflow-wrap: break-word;
}

.dp-content{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

/* 
p{
    
    font-weight: 400;
} */

.notes{
    font-family: 'Mukta', sans-serif;
    font-size: .8rem;
    font-weight: 200;
    font-style: italic;
}

.description{
    font-family: 'Mukta', sans-serif;
    font-size: .9rem;
    font-weight: 300;
}

.t-a > .descript{
    font-family: 'Mukta', sans-serif;
    font-size: .9rem;
    font-weight: 400;
    color: rgb(112, 72, 72);
}


.subtitle{
    font-family: 'Mukta', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.preview{
    /* position: absolute; */
    object-fit: fill;
    /* top: 10rem; */
    left: 0rem;
    max-width: 350px;
    height: 100%;
    border-radius: 10px;
    margin: 10px;
}
