.App{
    background: linear-gradient(to bottom right,rgb(47, 43, 113), rgba(255, 154, 31, 0.703)
    );
    /* background-color: #000; */
    /* background: rgb(85,47,159); */
    /* background: linear-gradient(131deg, rgba(85,47,159,0.9682466736694678) 0%, rgba(120,51,92,1) 35%, rgba(179,114,5,0.6937368697478992) 63%, rgba(255,113,0,0.7609637605042017) 100%); */
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: scroll;
}

#draggg{
    position: relative;
    left: 10px;
    top: 40px;
}


