.App{
    background: linear-gradient(to bottom right,rgba(255, 232, 238, 0.822), rgb(242, 246, 199));
    color: rgb(86, 81, 81);
    font-size: 1.2rem;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: scroll;
}
.notice{
    font-weight: 200;
    font-size: 1rem;
}

#draggg{
    position: relative;
    left: 10px;
    top: 40px;
}


.break{
    width: 100%;
    height: 5px;
}

a{
    text-decoration: none;
    color: rgb(157, 99, 99);
    width: fit-content;
}

.frame{
    border-radius: 10px;
}

.pic-small{
    object-fit: contain;
    width: 500px;
    height: 500px;
    border-radius: 5px;
    margin: 10px;
    opacity: 1;
    z-index: -1;
    /* background: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(66, 66, 64)); */
}

.pic-bg{
    object-fit: contain;
    width: 500px;
    height: 500px;
    border-radius: 5px;
    margin: 10px;
    opacity: 0.5;
    z-index: -1;
}
