/* .header{
    backdrop-filter: blur(4.6px);
    -webkit-backdrop-filter: blur(4.6px);
    border: 1px solid rgba(117, 58, 82, 0.3);
    border-radius: 3px;
    padding: 1%;
    margin: 1%;
} */

/* #header{
    display: flex;
    flex-direction: row;

} */